<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

RewriteEngine On
RewriteBase /
RewriteRule ^leocezar.dev/program-dev.html$ - [L] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /program-dev.html [L]
